@import 'tailwindcss';

body {
  background-color: #18181b;
  color: #f4f4f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
