[Desktop Entry]
Name=INSTALAR POSVENDELO
Comment=Instalador automatico de POSVENDELO
Exec=bash -c "exec bash \"\$(dirname \"\$1\")/instalar.sh\"" _ %k
Terminal=true
Type=Application
Icon=system-software-install
